html {
  font-family: "DM Sans", sans-serif;
  background-color: white;
  margin: 0px 50px;
}

.lien-bouton {
    text-decoration: none;
    color: black;
    background-color: #93BF00;
    padding: 5px 10px; 
    border-radius: 25px;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: 1.5px 1.5px 5px black;
    border: solid 1px black;
}
.lien-bouton:hover {
    color: black;
    background-color: #A8D32A;
    transition: 0.8s;
    box-shadow: 3px 3px 10px black;
}

#container-1 {
    position: relative;
    background-image: url(../images/Illustration1.jpg);
    background-size: cover;
    background-position:0% 45%;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    border-radius: 50px;
    font-size: 23px;
}

#container-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.575);
}

#container-1 > * {
  position: relative;
  z-index: 1;
}

#container-1 p {
    max-width: 1000px
}

#container-1 h2,
#container-1 h3,
#container-1 p {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.596);
}

#container-2 {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: left;
  margin: 150px 0;
}

#text-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    padding: 0 50px;
}

#text-2 a {
    margin-top: auto;
    width: fit-content;
}

#container-2 img {
    width: 50%;
    height: 600px;
    border-radius: 50px;
    order: 2;
    object-fit: cover;
    object-position: 0% 25%;
}

#container-3 {
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: left;
    margin: 150px 0;
}

#text-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    padding: 0 50px;
}

#text-3 a {
    margin-top: auto;
    width: fit-content;
}

#container-3 img {
    width: 50%;
    height: 600px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 0% 25%;
}

.card-container {
    display: flex;
    gap: 30px;
    margin-bottom: 150px;

}

.card {
    background-image: url(../images/Illustration3.jpg);
    background-position: 0%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: 1.5px 1.5px 5px black;
    transition: 0.5s;
    height: 600px;
    font-size: 23px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.726);
}

.card > * {
  position: relative;
  z-index: 1;
}

.card h2,
.card p {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.616);
}

.card:hover {
    box-shadow: 3px 3px 10px black;
    transition: 0.5s;
}

.card a {
    margin-top: auto;
}

.card p {
    margin-top: auto;
}
