html {
  font-family: "DM Sans", sans-serif;   
}

.lien-bouton {
    text-decoration: none;
    color: #A8D32A;
    background-color: #53433F;
    padding: 5px 10px; 
    border-radius: 25px;
    font-weight: bold;
    transition: 0.5s;
}
.lien-bouton:hover {
    color: #93BF00;
    background-color: #725D57;
    transition: 0.8s;
}