html {
  font-family: "DM Sans", sans-serif;
  background-color: white;
  margin: 0px 50px;
}

.lien-bouton {
    text-decoration: none;
    color: #A8D32A;
    background-color: #53433F;
    padding: 5px 10px; 
    border-radius: 25px;
    font-weight: bold;
    transition: 0.5s;
    text-shadow: 1px 1px 1px black
}
.lien-bouton:hover {
    color: #93BF00;
    background-color: #725D57;
    transition: 0.8s;
}

#container-1 {
    position: relative;
    background-image: url(../images/Illustration1.jpg);
    background-size: cover;
    background-position:0% 45%;;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    border-radius: 50px;
}

#container-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.493);
}

#container-1 > * {
  position: relative;
  z-index: 1;
}

#container-1 p {
    max-width: 500px;
}

#container-1 h2,
#container-1 h3,
#container-1 p {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
